/*====== 动态效果 ======*/

@keyframes fade-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes fade-in-left {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}

/* 960px+ 有左侧边栏 */
@media only screen and (min-width: 960px) {
  /* 正文切换动画 */
  .vp-doc > div,
  .VPHome {
    animation: fade-in 0.3s;
  }

  /* 侧边栏指示条动画 */
  .VPSidebarItem.is-active > .item > .indicator {
    background: var(--vp-c-brand-1);
    transform: translateY(0);
    transition: background 0.15s, transform 0.15s cubic-bezier(0, 0.5, 0.5, 1);
  }
  .VPSidebarItem .indicator {
    transform: translateY(40px);
    transition: background 0.15s, transform 0.15s cubic-bezier(0.5, 0, 1, 0.5);
  }
  .VPSidebarItem.is-active ~ .VPSidebarItem .indicator,
  .VPSidebarItem.level-0.is-active .items .indicator,
  .VPSidebarItem.has-active ~ .VPSidebarItem .indicator,
  #VPSidebarNav .group:has(.is-active) ~ .group .indicator {
    transform: translateY(-40px);
  }

  /* 页脚点击动画 */
  .VPLink.link.pager-link {
    transition: transform 0.15s, border-color 0.25s;
  }
  .VPLink.link.pager-link.prev:active {
    transform: translateX(-15px);
  }
  .VPLink.link.pager-link.next:active {
    transform: translateX(15px);
  }

  /* 左侧边栏出现与刷新动画 */
  .VPSidebar {
    animation: fade-in-left 0.2s;
  }
  .VPSidebar .VPLink {
    animation: fade 0.2s;
  }

  /* 脚注平滑跳转 */
  html:has(.footnote-backref:hover),
  html:has(.footnote-ref:hover) {
    scroll-behavior: smooth;
  }

  /* 链接样式优化 */
  .vp-doc a:not(.escape-animate, .escape-animate a) {
    color: var(--link-color);
    display: inline-block;
    height: 1.4em;
    line-height: 1.3em;
    vertical-align: baseline;
    text-decoration: none;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: background 0.2s;
  }
  .vp-doc a:not(.escape-animate, .escape-animate a):hover {
    color: var(--link-color) !important;
    background: var(--link-soft);
    opacity: 1 !important;
  }
  .vp-doc a:not(.escape-animate, .escape-animate a):active {
    opacity: 0.6 !important;
  }
  .vp-doc a:not(.escape-animate, .escape-animate a)::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: var(--link-color) 2px solid;
    right: 0;
    width: 0;
    bottom: 0;
    height: 0;
    transition: width 0.3s;
    opacity: 0.8;
  }
  .vp-doc a:not(.escape-animate, .escape-animate a):hover::before {
    width: 100%;
    left: 0;
    right: unset;
  }
  .edit-link-button:active {
    opacity: 0.6;
  }
}

/* 1280px+ 有右侧大纲 */
@media only screen and (min-width: 1280px) {
  /* 书签平滑跳转 */
  html:has(.aside-container:hover) {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 960px) {
  /* 书签平滑跳转 */
  html:has(.VPLocalNavOutlineDropdown:hover) {
    scroll-behavior: smooth;
  }
}

/* Algolia 搜索框 */
.DocSearch-Modal {
  animation: fade-in 0.15s;
}
.DocSearch-Hit a {
  transition: background 0.2s;
}
.DocSearch-Hit span,
.DocSearch-Hit-icon {
  transition: color 0.2s;
}
.DocSearch-Hit-Select-Icon {
  animation: fade-in-left 0.2s;
}
