// ====== 静态样式美化 ======

.dark {
  --vp-c-gutter: #27272b;
}
a {
  --link-soft: var(--vp-c-brand-soft);
  --link-color: var(--vp-c-brand-1);
}
.custom-block.tip a {
  --link-soft: var(--vp-c-tip-soft);
  --link-color: var(--vp-c-tip-1);
}
.custom-block.caution a {
  --link-soft: var(--vp-c-caution-soft);
  --link-color: var(--vp-c-caution-1);
}
.custom-block.warning a {
  --link-soft: var(--vp-c-warning-soft);
  --link-color: var(--vp-c-warning-1);
}
.custom-block.important a {
  --link-soft: var(--vp-c-purple-soft);
  --link-color: var(--vp-c-purple-1);
}

// 字体定义
:root {
  --vp-font-family-base:
    'Punctuation SC', 'HarmonyOS Sans', 'PingFang SC', 'HarmonyOS Sans SC', 'MiSans',
    'Noto Sans CJK SC', 'Noto Sans SC', 'Heiti SC', 'Microsoft YaHei UI', 'DengXian', ui-sans-serif,
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --vp-font-family-mono:
    'JetBrains Mono', ui-monospace, 'Sarasa Term SC', 'Iosevka', 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', monospace;
}

// 删除线文字颜色调整
.vp-doc s {
  color: var(--vp-c-text-2);
  text-decoration-color: var(--vp-c-text-1);
}

// 引用框内链接减淡
.vp-doc blockquote a {
  opacity: 0.8;
}

// 大屏下顶栏毛玻璃效果
@media only screen and (min-width: 1280px) {
  :root {
    --vp-nav-bg-color: #fff5;
  }
  .dark {
    --vp-nav-bg-color: #1b1b1f70;
  }
  .content-body {
    backdrop-filter: blur(15px);
  }
  .home .content-body {
    backdrop-filter: none;
  }
}
@media only screen and (min-width: 960px) {
  .VPNavBar.home {
    backdrop-filter: blur(15px);
    --vp-nav-bg-color: #fff5;
  }
  .dark .VPNavBar.home {
    --vp-nav-bg-color: #1b1b1f70;
  }
  .VPNavBar.home.top {
    backdrop-filter: none;
  }
}

// 小屏下大纲毛玻璃效果
.VPLocalNavOutlineDropdown .items {
  backdrop-filter: blur(15px);
  background: transparent;
  --vp-c-bg-soft: #fff9;
}
.dark .VPLocalNavOutlineDropdown .items {
  --vp-c-bg-soft: #1b1b1f90;
}

// 改善移动端点击效果
* {
  -webkit-tap-highlight-color: #0002;
}
.dark * {
  -webkit-tap-highlight-color: #fff2;
}

// 改善选择样式
::selection {
  background-color: #3451b230;
}
.dark ::selection {
  background-color: #fff3;
}

.dark .vp-doc img:not([alt*='&keep-color'])::selection {
  background-color: #0000003a;
}

// 淡化滚动条
* {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-border) transparent;
}

// 防止上下标影响行距
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.6em;
}
sub {
  bottom: -0.25em;
}

// Algolia 搜索框
:root {
  --docsearch-hit-active-color: var(--vp-c-text-1);
}
.DocSearch-Modal {
  box-shadow: #0005 0 15px 30px;
}
.DocSearch-Hit mark {
  text-decoration-thickness: 0.1em;
  font-weight: bold;
}
.DocSearch-Logo {
  opacity: 0.5;
  filter: grayscale(1);
}
.DocSearch-NoResults-Prefill-List {
  display: none !important;
}

// 公式颜色优化
@mixin katex-color($name, $var) {
  [style^='color:#{$name}'],
  [style^='color: #{$name}'],
  [style*=';color:#{$name}'],
  [style*='; color:#{$name}'],
  [style*=';color: #{$name}'],
  [style*='; color: #{$name}'] {
    color: var(#{$var}) !important;
  }
}

.katex-html {
  @include katex-color('red', '--ln-c-red');
  @include katex-color('orange', '--ln-c-orange');
  @include katex-color('yellow', '--ln-c-yellow');
  @include katex-color('green', '--ln-c-green');
  @include katex-color('blue', '--ln-c-blue');
  @include katex-color('indigo', '--ln-c-indigo');
  @include katex-color('purple', '--ln-c-purple');
  @include katex-color('pink', '--ln-c-pink');
  @include katex-color('magenta', '--ln-c-magenta');
  @include katex-color('lime', '--ln-c-lime');
  @include katex-color('olive', '--ln-c-olive');
  @include katex-color('cyan', '--ln-c-cyan');
  @include katex-color('teal', '--ln-c-teal');
}

#VPNavScreen .container {
  padding-bottom: 40px;
}

// kbd 元素
.vp-doc kbd {
  border-radius: 4px;
  padding: 1px 4px;
  background-color: var(--vp-code-bg);
  font-size: var(--vp-code-font-size);
  box-shadow:
    0 0 0 1px var(--vp-c-border),
    0 2px 0 1px var(--vp-c-border);
}
