/*====== 修复问题 ======*/

/* 补充代码字体列表 */
:root {
  --vp-font-family-mono: ui-monospace, "JetBrains Mono", "Sarasa Term SC",
    "Iosevka", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
    monospace;
}

/* 修复标题边距 */
h1 {
  margin-bottom: 16px;
}
h5,
h6 {
  margin: 16px 0;
}

/* 修复公式纵向滚动条；标点避头尾修复 */
mjx-container {
  overflow-y: hidden;
  white-space: nowrap;
  outline: none;
}

/* blockquote 与 li 内段间距修复 */
.vp-doc blockquote p {
  margin: 8px 0;
}
.vp-doc li p {
  margin: 8px 0;
}
.vp-doc blockquote div[class*="language-"],
.vp-doc .custom-block div[class*="language-"] {
  margin: 16px 0;
  font-size: 16px;
}

/* 提示块分割线颜色修复 */
.custom-block {
  --vp-c-divider: #0002;
}
.dark .custom-block {
  --vp-c-divider: #fff2;
}

/* 提示框嵌套边距修复 */
.custom-block .custom-block {
  padding: 12px 16px 4px;
  margin: 12px 0;
}

/* 修复脚注返回按钮显示为 emoji */
a.footnote-backref {
  font-family: sans-serif;
}

/* 顶栏 logo 大小修复 */
:root {
  --vp-nav-logo-height: 30px;
}
img.VPImage.logo {
  margin-right: 4px;
}

/* 隐藏 H1 anchor */
.vp-doc h1 .header-anchor {
  display: none;
}

/* 缩小表格空隙 */
.vp-doc th,
.vp-doc td {
  padding: 4px 8px;
}
.vp-doc table {
  margin: 20px auto;
  width: max-content;
  max-width: 100%;
}

/* 修复溢出问题 */
.vp-doc p {
  max-width: 100%;
}

/* 外链提示图标 */
.vp-doc a[target="_blank"]::after {
  content: "";
  width: 0.7em !important;
  height: 0.7em !important;
  margin-left: 0.1em !important;
  color: inherit !important;
  transform: scale(1.2);
  opacity: 0.8;
}

.vp-doc a {
  font-weight: inherit;
}

/* 隐藏标题后面的脚注提示条 */
h1 + .footnotes-sep,
h2 + .footnotes-sep,
h3 + .footnotes-sep,
h4 + .footnotes-sep,
h5 + .footnotes-sep,
h6 + .footnotes-sep {
  display: none;
}

/* 修复多级列表 marker 样式 */
.vp-doc :is(ol, ul) ol {
  list-style: lower-roman;
}
.vp-doc :is(ol, ul) :is(ol, ul) ol {
  list-style: lower-latin;
}
.vp-doc :is(ol, ul) :is(ol, ul) :is(ol, ul) ol {
  list-style: lower-greek;
}

.vp-doc :is(ol, ul) ul {
  list-style: circle;
}
.vp-doc :is(ol, ul) :is(ol, ul) ul {
  list-style: square;
}

/* 调整提示框字号 */
:root {
  --vp-custom-block-font-size: 15px;
  --vp-custom-block-code-font-size: 14px;
}
.custom-block mjx-container {
  font-size: 16px;
}
