/*====== 修复问题 ======*/

/* 修复公式纵向滚动条；标点避头尾修复 */
mjx-container {
  overflow-y: hidden;
  white-space: nowrap;
}

/* 提示块分割线颜色修复 */
.github-alert {
  --vp-c-divider: #0002;
}
.dark .github-alert {
  --vp-c-divider: #fff2;
}

/* 修复脚注返回按钮显示为 emoji */
a.footnote-backref {
  font-family: sans-serif;
}

/* 顶栏 logo 大小修复 */
img.VPImage.logo {
  transform: scale(1.25);
}

/* 隐藏 H1 anchor */
.vp-doc h1 .header-anchor {
  display: none;
}

/* 缩小表格空隙 */
.vp-doc th,
.vp-doc td {
  padding: 4px 8px;
}
.vp-doc table {
  margin: 20px auto;
  width: max-content;
  max-width: 100%;
}

/* 修复溢出问题 */
.vp-doc p {
  max-width: 100%;
}

/* 外链提示图标 */
.vp-doc a[target="_blank"]::after {
  content: "";
  margin-left: 1px !important;
  margin-right: 1px !important;
  color: inherit !important;
  transform: scale(1.2);
  opacity: 0.8;
}

/* 隐藏标题后面的脚注提示条 */
h1 + .footnotes-sep,
h2 + .footnotes-sep,
h3 + .footnotes-sep,
h4 + .footnotes-sep,
h5 + .footnotes-sep,
h6 + .footnotes-sep {
  display: none;
}
