/*====== 私有特性 ======*/

/* revert 标记图片颜色反转 */
.dark .vp-doc img[alt*="&revert"] {
  filter: invert(100%) hue-rotate(180deg) contrast(80%);
}

/* 图片大小标记 */
.vp-doc img[alt*="&small"] {
  max-height: 200px;
}
.vp-doc img[alt*="&medium"] {
  max-height: 300px;
}

/* 高亮内容设置 */
.vp-doc mark {
  color: var(--vp-c-yellow-1);
  background-color: var(--vp-c-yellow-soft);
  box-shadow: var(--vp-c-yellow-soft) 0 0 0 2px;
  border-radius: 1px;
}

/* 把 tip 框改成绿色 */
:root {
  --vp-c-tip-1: var(--vp-c-green-1);
  --vp-c-tip-2: var(--vp-c-green-2);
  --vp-c-tip-3: var(--vp-c-green-3);
  --vp-c-tip-soft: var(--vp-c-green-soft);
  --vp-badge-tip-bg: var(--vp-c-brand-soft);
}
