/*====== 私有特性 ======*/

/* 图片颜色反转 */
.dark .vp-doc img:not([alt*="&keep-color"]) {
  filter: invert(100%) hue-rotate(180deg) contrast(80%);
}

/* 图片大小标记 */
.vp-doc img[alt*="&small"] {
  max-height: 200px;
}
.vp-doc img[alt*="&medium"] {
  max-height: 300px;
}

/* 高亮内容设置 */
.vp-doc mark {
  color: var(--vp-c-yellow-1);
  background-color: var(--vp-c-yellow-soft);
  box-shadow: var(--vp-c-yellow-soft) 0 0 0 2px;
  border-radius: 1px;
}

/* 把 tip 框改成绿色 */
:root {
  --vp-c-tip-1: var(--vp-c-green-1);
  --vp-c-tip-2: var(--vp-c-green-2);
  --vp-c-tip-3: var(--vp-c-green-3);
  --vp-c-tip-soft: var(--vp-c-green-soft);
  --vp-badge-tip-bg: var(--vp-c-brand-soft);
}

/* 标点挤压 */
punc-spacing {
  display: inline;
}
.punc-full {
  margin-inline-end: -0.7em;
}
.punc-half {
  margin-inline-end: -0.45em;
}
.punc-quarter {
  margin-inline-end: -0.25em;
}
.punc-before-less {
  margin-inline-start: -0.4em;
}
.punc-before-more {
  margin-inline-start: -0.6em;
}

/* 例题、详情框背景色 */
.custom-block.example,
.custom-block.details {
  background-color: rgba(142, 150, 170, 0.08);
}
.dark .custom-block.example,
.dark .custom-block.details {
  background-color: rgba(101, 117, 133, 0.08);
}
