/*====== 静态样式美化 ======*/

/* 公式内文字字体定义 */
mjx-container text {
  font-family: var(--vp-font-family-base);
}

/* 图片圆角 */
.vp-doc img {
  border-radius: 5px;
}

/* 大屏下顶栏毛玻璃效果 */
@media only screen and (min-width: 1280px) {
  :root {
    --vp-nav-bg-color: #fff5;
  }
  .dark {
    --vp-nav-bg-color: #1b1b1f70;
  }
  .content-body {
    backdrop-filter: blur(15px);
  }
  .home .content-body {
    backdrop-filter: none;
  }
}
@media only screen and (min-width: 960px) {
  .VPNavBar.home {
    backdrop-filter: blur(15px);
    --vp-nav-bg-color: #fff5;
  }
  .dark .VPNavBar.home {
    --vp-nav-bg-color: #1b1b1f70;
  }
  .VPNavBar.home.top {
    backdrop-filter: none;
  }
}

/* 小屏下大纲毛玻璃效果 */
.VPLocalNavOutlineDropdown .items {
  backdrop-filter: blur(15px);
  background: transparent;
  --vp-c-bg-soft: #fff9;
}
.dark .VPLocalNavOutlineDropdown .items {
  --vp-c-bg-soft: #1b1b1f90;
}

/* 改善移动端点击效果 */
* {
  -webkit-tap-highlight-color: #0002;
}
.dark * {
  -webkit-tap-highlight-color: #fff2;
}

/* 改善选择样式 */
::selection {
  background-color: #3451b240;
}
.dark ::selection {
  background-color: #fff3;
}

.dark .vp-doc img[alt^="&revert"]::selection {
  background-color: #0000003a;
}

/* Algolia 搜索框 */
:root {
  --docsearch-hit-active-color: var(--vp-c-text-1);
}
.DocSearch-Container {
  /* 遮罩已自行通过组件实现 */
  background: transparent;
}
.DocSearch-Modal {
  box-shadow: #0005 0 15px 30px;
}
.DocSearch-Hit[aria-selected="true"] a {
  background: var(--vp-c-brand-soft);
}
.DocSearch-Hit[aria-selected="true"] mark {
  color: var(--vp-c-brand-1) !important;
  text-decoration: none;
}
.DocSearch-Logo {
  filter: grayscale(1) brightness(2.5);
  opacity: 0.5;
}
.DocSearch-NoResults-Prefill-List {
  display: none !important;
}

/* 公式颜色优化 */
mjx-container {
  --formula-red: var(--vp-c-red-2);
  --formula-green: var(--vp-c-green-2);
  --formula-blue: var(--vp-c-indigo-2);
  --formula-cyan: #008ab4;
  --formula-magenta: var(--vp-c-sponsor);
  --formula-yellow: var(--vp-c-yellow-3);
  --formula-brown: var(--vp-c-yellow-1);
  --formula-lime: #8ebd00;
  --formula-olive: olive;
  --formula-orange: #e67300;
  --formula-pink: var(--vp-c-red-3);
  --formula-purple: var(--vp-c-purple-2);
  --formula-teal: teal;
  --formula-violet: #8c2a8c;
}
.dark mjx-container {
  --formula-red: var(--vp-c-red-2);
  --formula-green: var(--vp-c-green-2);
  --formula-blue: var(--vp-c-indigo-2);
  --formula-cyan: #00b9f2;
  --formula-magenta: #fb3199;
  --formula-yellow: #ffeb3d;
  --formula-brown: var(--vp-c-yellow-3);
  --formula-lime: #bfff00;
  --formula-olive: rgb(154, 154, 0);
  --formula-orange: var(--vp-c-yellow-1);
  --formula-pink: var(--vp-c-red-1);
  --formula-purple: var(--vp-c-purple-2);
  --formula-teal: #00b1b1;
  --formula-violet: violet;
}
mjx-container g[data-mml-node="mstyle"][fill="red"] {
  fill: var(--formula-red);
  stroke: var(--formula-red);
}
mjx-container g[data-mml-node="mstyle"][fill="green"] {
  fill: var(--formula-green);
  stroke: var(--formula-green);
}
mjx-container g[data-mml-node="mstyle"][fill="blue"] {
  fill: var(--formula-blue);
  stroke: var(--formula-blue);
}
mjx-container g[data-mml-node="mstyle"][fill="cyan"] {
  fill: var(--formula-cyan);
  stroke: var(--formula-cyan);
}
mjx-container g[data-mml-node="mstyle"][fill="magenta"] {
  fill: var(--formula-magenta);
  stroke: var(--formula-magenta);
}
mjx-container g[data-mml-node="mstyle"][fill="yellow"] {
  fill: var(--formula-yellow);
  stroke: var(--formula-yellow);
}
mjx-container g[data-mml-node="mstyle"][fill="brown"] {
  fill: var(--formula-brown);
  stroke: var(--formula-brown);
}
mjx-container g[data-mml-node="mstyle"][fill="lime"] {
  fill: var(--formula-lime);
  stroke: var(--formula-lime);
}
mjx-container g[data-mml-node="mstyle"][fill="olive"] {
  fill: var(--formula-olive);
  stroke: var(--formula-olive);
}
mjx-container g[data-mml-node="mstyle"][fill="orange"] {
  fill: var(--formula-orange);
  stroke: var(--formula-orange);
}
mjx-container g[data-mml-node="mstyle"][fill="pink"] {
  fill: var(--formula-pink);
  stroke: var(--formula-pink);
}
mjx-container g[data-mml-node="mstyle"][fill="purple"] {
  fill: var(--formula-purple);
  stroke: var(--formula-purple);
}
mjx-container g[data-mml-node="mstyle"][fill="teal"] {
  fill: var(--formula-teal);
  stroke: var(--formula-teal);
}
mjx-container g[data-mml-node="mstyle"][fill="violet"] {
  fill: var(--formula-violet);
  stroke: var(--formula-violet);
}
