/*====== 静态样式美化 ======*/

/* 颜色定义 */
:root {
  --ln-c-red: var(--vp-c-red-2);
  --ln-c-red-soft: var(--vp-c-red-soft);
  --ln-c-orange: #d55c37;
  --ln-c-orange-soft: rgba(255, 146, 68, 0.16);
  --ln-c-yellow: var(--vp-c-yellow-2);
  --ln-c-yellow-soft: var(--vp-c-yellow-soft);
  --ln-c-green: var(--vp-c-green-2);
  --ln-c-green-soft: var(--vp-c-green-soft);
  --ln-c-blue: #3573b2;
  --ln-c-blue-soft: rgba(72, 151, 255, 0.16);
  --ln-c-indigo: var(--vp-c-indigo-1);
  --ln-c-indigo-soft: var(--vp-c-indigo-soft);
  --ln-c-purple: var(--vp-c-purple-1);
  --ln-c-purple-soft: var(--vp-c-purple-soft);
  --ln-c-pink: var(--vp-c-red-3);
  --ln-c-pink-soft: rgba(255, 133, 133, 0.16);
  --ln-c-magenta: #ff53ac;
  --ln-c-magenta-soft: rgba(255, 69, 174, 0.16);
  --ln-c-lime: #86a822;
  --ln-c-lime-soft: rgba(161, 197, 69, 0.16);
  --ln-c-olive: olive;
  --ln-c-olive-soft: rgba(100, 124, 38, 0.16);
  --ln-c-cyan: #138aa7;
  --ln-c-cyan-soft: rgba(44, 182, 197, 0.16);
  --ln-c-teal: teal;
  --ln-c-teal-soft: rgba(37, 162, 167, 0.16);
  --ln-c-gray: var(--vp-c-text-2);
  --ln-c-gray-soft: var(--vp-c-gray-soft);
}
.dark {
  --ln-c-orange: #ff7044;
  --ln-c-yellow: var(--vp-c-yellow-1);
  --ln-c-green: #3abf7f;
  --ln-c-blue: #5badff;
  --ln-c-pink: var(--vp-c-red-1);
  --ln-c-pink-soft: rgba(255, 133, 133, 0.16);
  --ln-c-lime: #9fc726;
  --ln-c-olive: #baba15;
  --ln-c-olive-soft: rgba(187, 206, 93, 0.16);
  --ln-c-cyan: #29b8db;
  --ln-c-cyan-soft: rgba(41, 215, 234, 0.16);
  --ln-c-teal: #18bebe;
  --ln-c-gray: var(--vp-c-text-2);
  --ln-c-gray-soft: var(--vp-c-gray-soft);
}

/* 公式内文字字体定义 */
mjx-container text {
  font-family: var(--vp-font-family-base);
}

/* 图片居中 & 圆角 */
.vp-doc img {
  margin: 0 auto;
  border-radius: 5px;
}

/* 大屏下顶栏毛玻璃效果 */
@media only screen and (min-width: 1280px) {
  :root {
    --vp-nav-bg-color: #fff5;
  }
  .dark {
    --vp-nav-bg-color: #1b1b1f70;
  }
  .content-body {
    backdrop-filter: blur(15px);
  }
  .home .content-body {
    backdrop-filter: none;
  }
}
@media only screen and (min-width: 960px) {
  .VPNavBar.home {
    backdrop-filter: blur(15px);
    --vp-nav-bg-color: #fff5;
  }
  .dark .VPNavBar.home {
    --vp-nav-bg-color: #1b1b1f70;
  }
  .VPNavBar.home.top {
    backdrop-filter: none;
  }
}

/* 小屏下大纲毛玻璃效果 */
.VPLocalNavOutlineDropdown .items {
  backdrop-filter: blur(15px);
  background: transparent;
  --vp-c-bg-soft: #fff9;
}
.dark .VPLocalNavOutlineDropdown .items {
  --vp-c-bg-soft: #1b1b1f90;
}

/* 改善移动端点击效果 */
* {
  -webkit-tap-highlight-color: #0002;
}
.dark * {
  -webkit-tap-highlight-color: #fff2;
}

/* 改善选择样式 */
::selection {
  background-color: #3451b240;
}
.dark ::selection {
  background-color: #fff3;
}

.dark .vp-doc img[alt^="&revert"]::selection {
  background-color: #0000003a;
}

/* Algolia 搜索框 */
:root {
  --docsearch-hit-active-color: var(--vp-c-text-1);
}
.DocSearch-Container {
  /* 遮罩已自行通过组件实现 */
  background: transparent;
}
.DocSearch-Modal {
  box-shadow: #0005 0 15px 30px;
}
.DocSearch-Hit[aria-selected="true"] a {
  background: var(--vp-c-brand-soft);
}
.DocSearch-Hit[aria-selected="true"] mark {
  color: var(--vp-c-brand-1) !important;
  text-decoration: none;
}
.DocSearch-Logo {
  filter: grayscale(1) brightness(2.5);
  opacity: 0.5;
}
.DocSearch-NoResults-Prefill-List {
  display: none !important;
}

/* 公式颜色优化 */
mjx-container g[data-mml-node="mstyle"][fill="red"] {
  fill: var(--ln-c-red);
  stroke: var(--ln-c-red);
}
mjx-container g[data-mml-node="mstyle"][fill="orange"] {
  fill: var(--ln-c-orange);
  stroke: var(--ln-c-orange);
}
mjx-container g[data-mml-node="mstyle"][fill="yellow"] {
  fill: var(--ln-c-yellow);
  stroke: var(--ln-c-yellow);
}
mjx-container g[data-mml-node="mstyle"][fill="green"] {
  fill: var(--ln-c-green);
  stroke: var(--ln-c-green);
}
mjx-container g[data-mml-node="mstyle"][fill="blue"] {
  fill: var(--ln-c-blue);
  stroke: var(--ln-c-blue);
}
mjx-container g[data-mml-node="mstyle"][fill="indigo"] {
  fill: var(--ln-c-indigo);
  stroke: var(--ln-c-indigo);
}
mjx-container g[data-mml-node="mstyle"][fill="purple"] {
  fill: var(--ln-c-purple);
  stroke: var(--ln-c-purple);
}
mjx-container g[data-mml-node="mstyle"][fill="pink"] {
  fill: var(--ln-c-pink);
  stroke: var(--ln-c-pink);
}
mjx-container g[data-mml-node="mstyle"][fill="magenta"] {
  fill: var(--ln-c-magenta);
  stroke: var(--ln-c-magenta);
}
mjx-container g[data-mml-node="mstyle"][fill="lime"] {
  fill: var(--ln-c-lime);
  stroke: var(--ln-c-lime);
}
mjx-container g[data-mml-node="mstyle"][fill="olive"] {
  fill: var(--ln-c-olive);
  stroke: var(--ln-c-olive);
}
mjx-container g[data-mml-node="mstyle"][fill="cyan"] {
  fill: var(--ln-c-cyan);
  stroke: var(--ln-c-cyan);
}
mjx-container g[data-mml-node="mstyle"][fill="teal"] {
  fill: var(--ln-c-teal);
  stroke: var(--ln-c-teal);
}

#VPNavScreen .container{
  padding-bottom: 40px;
}