mjx-container {
  overflow-y: hidden;
}

a.footnote-backref {
  font-family: sans-serif;
}

:root {
  --vp-nav-bg-color: #1b1b1f80;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.content-body {
  backdrop-filter: blur(15px);
}
