/*====== 修复问题 ======*/

/* 修复公式纵向滚动条 */
mjx-container {
  overflow-y: hidden;
}

/* 提示块分割线颜色修复 */
.github-alert {
  --vp-c-divider: #0002;
}
.dark .github-alert {
  --vp-c-divider: #fff2;
}

/* 修复脚注返回按钮显示为 emoji */
a.footnote-backref {
  font-family: sans-serif;
}

/* 顶栏 logo 大小修复 */
img.VPImage.logo {
  transform: scale(1.25);
}
