@font-face {
  font-family: "Punctuation SC";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(./Punctuation.woff2);
}

@font-face {
  font-family: "Punctuation SC";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(./Punctuation-Bold.woff2);
}
